/*
Color palette:
BLACK: #000814
DARK BLUE: #001D3D
NAVY BLUE: #003566
ORANGE: #FFC300
YELLOW: #FFD60A
*/

img {
	margin-bottom: 1.5rem;
}

#project-section, #academic-section{
	padding-top: 5px;
	margin-top: 35px;
	background-color: #001730;
}

#project-section {
	padding-bottom: 35px;
}

@media (max-width: 639px) {
	section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

.page-content {
	margin-top: 2%;
	width: 100%;
	border-radius: 50px;
	background-color: #000814;
}

#project-section {
	height: fit-content;
}

html {
	scroll-behavior: smooth;
}

h1 {
	text-align: left;
	padding-left: 30px;
	font-size: 2vw;
}